.div-main-title{
    width: 75%;
    margin: 3rem auto;
}

.div-no-products{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.div-title{
    text-align: center;
}

.productcard {
    width: 250px;
    height: 300px;
    background: rgba(39, 125, 25, 0.39);
    margin: 20px;
}

#productname{
    position: relative;
width: 78px;
height: 24px;
left: 20px;
top: 13px;

/* Headline 6 */

font-family: Arial;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.15px;

/* Gray 1 */

color: #333333;
}

#productimg{
    position: relative;
    left: 0%;
    right: 0%;
    top: 30px;

}

#description{
    position: relative;
    width: 308px;
    height: 20px;
    left: 16px;
    bottom: 83px;
    
    /* Body 2 */
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: 0.25px;
    
    /* Gray 1 */
    
    color: #333333;
}

.amount-input{
    margin-top: 20px;
    margin-bottom: 0px;
}