.e24_3 { 
	overflow:hidden;
}
.e24_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:6836px;
	position:absolute;
}
.e97_121 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.10999999940395355);
	width:1916px;
	height:1080px;
	position:absolute;
	left:4px;
	top:5238px;
}
.e97_123 { 
	width:1010px;
	height:640px;
	position:absolute;
	left:66px;
	top:5555px;
}
.e97_122 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.5899999737739563);
	width:1010px;
	height:640px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_120 { 
	width:990px;
	height:620px;
	position:absolute;
	left:10px;
	top:11px;
	background-image:url(images/rectangle_249.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e27_9 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.3100000023841858);
	width:1920px;
	height:469px;
	position:absolute;
	left:0px;
	top:6318px;
}
.e24_660 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e27_6 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e91_6 { 
	width:1690.6209716796875px;
	height:53.85327911376953px;
	position:absolute;
	left:177px;
	top:34px;
}
.e24_661 { 
	width:776.653564453125px;
	height:53.85327911376953px;
	position:absolute;
	left:0px;
	top:0px;
}
.e24_662 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:49px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e24_663 { 
	color:rgba(0, 0, 0, 1);
	width:194.29318237304688px;
	height:50.85327911376953px;
	position:absolute;
	left:158px;
	top:3px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e24_664 { 
	color:rgba(0, 0, 0, 1);
	width:203px;
	height:51px;
	position:absolute;
	left:381px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e24_665 { 
	color:rgba(0, 0, 0, 1);
	width:128.65359497070312px;
	height:50.85327911376953px;
	position:absolute;
	left:648px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e24_666 { 
	color:rgba(7.4375000316649675, 7.4375000316649675, 7.4375000316649675, 1);
	width:124px;
	height:21px;
	position:absolute;
	left:1321px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e84_6 { 
	opacity:0.800000011920929;
	width:138px;
	height:47px;
	position:absolute;
	left:1480px;
	top:-6px;
}
.e24_668 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 1);
	width:138px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e24_669 { 
	color:rgba(255, 255, 255, 1);
	width:134px;
	height:23px;
	position:absolute;
	left:4px;
	top:13px;
	font-family:Roboto;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e25_0 { 
	width:36.96735382080078px;
	height:34.72340393066406px;
	position:absolute;
	left:1653.653564453125px;
	top:0px;
}
.e25_1 { 
	width:36.96735382080078px;
	height:34.72340393066406px;
	position:absolute;
	left:0px;
	top:0px;
}
.e25_2 { 
	width:36.96735382080078px;
	height:34.72340393066406px;
	position:absolute;
	left:0px;
	top:0px;
}
.e25_3 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e25_3 { 
	width:24.25982666015625px;
	height:21.70212745666504px;
	position:absolute;
	left:2.310459613800049px;
	top:3.2553117275238037px;
}
.e25_4 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e25_4 { 
	width:5.776148796081543px;
	height:5.425533294677734px;
	position:absolute;
	left:8.664223670959473px;
	top:24.957435607910156px;
}
.e25_5 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e25_5 { 
	width:5.776149749755859px;
	height:5.425533294677734px;
	position:absolute;
	left:23.68221092224121px;
	top:24.957435607910156px;
}
.e25_6 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e25_6 { 
	width:24.259824752807617px;
	height:10.85106372833252px;
	position:absolute;
	left:6.9313788414001465px;
	top:8.680842399597168px;
}
.e25_7 { 
	color:rgba(0, 0, 0, 1);
	width:894px;
	height:212px;
	position:absolute;
	left:220px;
	top:246px;
	font-family:Sawarabi Gothic;
	text-align:left;
	font-size:144px;
	letter-spacing:0;
}
.e25_10 { 
	color:rgba(0, 0, 0, 1);
	width:1083px;
	height:72px;
	position:absolute;
	left:220px;
	top:459px;
	font-family:SeoulNamsan CBL;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e97_127 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e25_11 { 
	width:1920px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/verschiedenes_obst_und_gem_se_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e47_39 { 
	width:373px;
	height:135.353759765625px;
	position:absolute;
	left:774px;
	top:743px;
}
.e47_40 { 
	box-shadow:0px 4px 5px rgba(0, 0, 0, 0.14000000059604645);
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 1);
	width:373px;
	height:65px;
	position:absolute;
	left:0px;
	top:44px;
	border-top-left-radius:28px;
	border-top-right-radius:28px;
	border-bottom-left-radius:28px;
	border-bottom-right-radius:28px;
}
.e47_41 { 
	width:373px;
	height:135.353759765625px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:23px;
	border-top-right-radius:23px;
	border-bottom-left-radius:23px;
	border-bottom-right-radius:23px;
}
.e47_43 { 
	color:rgba(255, 255, 255, 0.8700000047683716);
	width:305px;
	height:16px;
	position:absolute;
	left:34px;
	top:68px;
	font-family:Roboto;
	text-align:center;
	font-size:48px;
	letter-spacing:1.25;
	line-height:px;
}
.e91_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1084px;
	position:absolute;
	left:0px;
	top:1080px;
}
.e27_7 { 
	color:rgba(0, 0, 0, 1);
	width:814px;
	height:135px;
	position:absolute;
	left:324px;
	top:1172px;
	font-family:Sawarabi Gothic;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e27_11 { 
	color:rgba(0, 0, 0, 1);
	width:194px;
	height:71px;
	position:absolute;
	left:66px;
	top:5294px;
	font-family:Sawarabi Gothic;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e97_113 { 
	width:1920px;
	height:421px;
	position:absolute;
	left:0px;
	top:2165px;
}
.e36_5 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.029999999329447746);
	width:1920px;
	height:421px;
	position:absolute;
	left:0px;
	top:0px;
}
.e27_8 { 
	color:rgba(0, 0, 0, 1);
	width:122px;
	height:83px;
	position:absolute;
	left:48px;
	top:29px;
	font-family:Sawarabi Gothic;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e97_41 { 
	width:150px;
	height:183px;
	position:absolute;
	left:399px;
	top:181px;
}
.e97_0 { 
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.2800000011920929);
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_1 { 
	border:0px solid rgba(66.93749696016312, 65.26405915617943, 65.26405915617943, 1);
}
.e97_16 { 
	width:83px;
	height:83px;
	position:absolute;
	left:34px;
	top:34px;
}
.e97_17 { 
	width:83px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_18 { 
	width:83px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_19 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e97_19 { 
	width:68.39797973632812px;
	height:68.39798736572266px;
	position:absolute;
	left:8.340115547180176px;
	top:8.340164184570312px;
}
.e97_20 { 
	background-color:rgba(0, 0, 0, 1);
	width:7.78125px;
	height:7.78125px;
	position:absolute;
	left:23.34375px;
	top:23.34375px;
}
.e97_25 { 
	color:rgba(0, 0, 0, 1);
	width:145px;
	height:24px;
	position:absolute;
	left:3px;
	top:159px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e97_43 { 
	width:150px;
	height:188px;
	position:absolute;
	left:1371px;
	top:181px;
}
.e97_26 { 
	width:83px;
	height:83px;
	position:absolute;
	left:34px;
	top:34px;
}
.e97_27 { 
	width:83px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_28 { 
	width:83px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_29 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e97_29 { 
	width:46.6875px;
	height:44.09376907348633px;
	position:absolute;
	left:18.15625px;
	top:15.5625px;
}
.e97_30 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e97_30 { 
	width:20.75px;
	height:0px;
	position:absolute;
	left:31.125px;
	top:72.625px;
}
.e97_31 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e97_31 { 
	position:absolute;
	left:41.5px;
	top:59.65625px;
}
.e97_32 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e97_32 { 
	width:13.547286987304688px;
	height:18.15625px;
	position:absolute;
	left:64.26521301269531px;
	top:23.34375px;
}
.e97_33 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e97_33 { 
	width:13.646728515625px;
	height:18.15625px;
	position:absolute;
	left:5.146271228790283px;
	top:23.34375px;
}
.e97_14 { 
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei97_14_97_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.2800000011920929);
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.i97_14_97_1 { 
	border:0px solid rgba(66.93749696016312, 65.26405915617943, 65.26405915617943, 1);
}
.e97_34 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:34px;
	position:absolute;
	left:7px;
	top:154px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e97_42 { 
	width:150px;
	height:183px;
	position:absolute;
	left:885px;
	top:181px;
}
.e97_8 { 
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei97_8_97_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0.2800000011920929);
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.i97_8_97_1 { 
	border:0px solid rgba(66.93749696016312, 65.26405915617943, 65.26405915617943, 1);
}
.e97_35 { 
	width:83px;
	height:83px;
	position:absolute;
	left:34px;
	top:34px;
}
.e97_36 { 
	width:83px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_37 { 
	width:83px;
	height:83px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_38 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e97_38 { 
	width:67.4375px;
	height:67.4375px;
	position:absolute;
	left:7.78125px;
	top:7.78125px;
}
.e97_39 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e97_39 { 
	width:28.53125px;
	height:18.15625px;
	position:absolute;
	left:27.234375px;
	top:33.71875px;
}
.e97_40 { 
	color:rgba(0, 0, 0, 1);
	width:130px;
	height:25px;
	position:absolute;
	left:10px;
	top:158px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e97_112 { 
	width:1920px;
	height:601px;
	position:absolute;
	left:0px;
	top:2586px;
}
.e97_117 { 
	width:1920px;
	height:601px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_48 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.05999999865889549);
	width:1920px;
	height:601px;
	position:absolute;
	left:0px;
	top:0px;
}
.e47_410 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.38999998569488525);
	width:344px;
	height:380px;
	position:absolute;
	left:58px;
	top:144px;
}
.e47_411 { 
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14000000059604645);
	background-color:rgba(255, 255, 255, 1);
	width:344px;
	height:380px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e47_456 { 
	width:344px;
	height:193.9790496826172px;
	position:absolute;
	left:5.6843418860808015e-14px;
	top:71.62303161621094px;
}
.e47_465 { 
	width:364px;
	height:215px;
	position:absolute;
	left:-10px;
	top:-10px;
}
.e47_459 { 
	width:344px;
	height:195px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(images/original_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e47_458 { 
	width:344px;
	height:193.9790496826172px;
	position:absolute;
	left:0px;
	top:0px;
}
.e47_418 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.10999999940395355);
	width:344px;
	height:380px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e47_437 { 
	width:24px;
	height:24px;
	position:absolute;
	left:312px;
	top:8px;
}
.e47_438 { 
	background-color:rgba(33.00000183284283, 150.0000062584877, 83.00000265240669, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.e47_439 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e47_440 { 
	width:14px;
	height:10.420000076293945px;
	position:absolute;
	left:3px;
	top:4.579999923706055px;
}
.e47_420 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:308px;
	height:20px;
	position:absolute;
	left:16px;
	top:277px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.e47_421 { 
	color:rgba(33.00000183284283, 150.0000062584877, 83.00000265240669, 1);
	width:25px;
	height:20px;
	position:absolute;
	left:20px;
	top:37px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.e47_422 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:78px;
	height:24px;
	position:absolute;
	left:20px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}
.e97_44 { 
	color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.8700000047683716);
	width:132px;
	height:89px;
	position:absolute;
	left:894px;
	top:27px;
	font-family:Roboto;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e97_45 { 
	transform: rotate(-0.0000058973427614922115deg);
	width:565px;
	height:0px;
	position:absolute;
	left:117px;
	top:71px;
}
.e97_45 { 
	border:6px solid rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 1);
}
.e97_47 { 
	transform: rotate(-0.0000058973427614922115deg);
	width:565px;
	height:0px;
	position:absolute;
	left:1238px;
	top:71px;
}
.e97_47 { 
	border:6px solid rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 1);
}
.e97_111 { 
	width:1920px;
	height:601px;
	position:absolute;
	left:0px;
	top:3187px;
}
.e97_116 { 
	width:1920px;
	height:601px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_53 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:601px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_56 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.38999998569488525);
	width:344px;
	height:380px;
	position:absolute;
	left:58px;
	top:136px;
}
.ei97_56_47_411 { 
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14000000059604645);
	background-color:rgba(255, 255, 255, 1);
	width:344px;
	height:380px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei97_56_47_456 { 
	width:344px;
	height:193.9790496826172px;
	position:absolute;
	left:5.6843418860808015e-14px;
	top:71.62303161621094px;
}
.ei97_56_47_465 { 
	width:364px;
	height:215px;
	position:absolute;
	left:-10px;
	top:-10px;
}
.ei97_56_47_459 { 
	width:344px;
	height:195px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(images/original_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei97_56_47_458 { 
	width:344px;
	height:193.9790496826172px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei97_56_47_418 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.10999999940395355);
	width:344px;
	height:380px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei97_56_47_437 { 
	width:24px;
	height:24px;
	position:absolute;
	left:312px;
	top:8px;
}
.ei97_56_47_438 { 
	background-color:rgba(33.00000183284283, 150.0000062584877, 83.00000265240669, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.ei97_56_47_439 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei97_56_47_440 { 
	width:14px;
	height:10.420000076293945px;
	position:absolute;
	left:3px;
	top:4.579999923706055px;
}
.ei97_56_47_420 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:308px;
	height:20px;
	position:absolute;
	left:16px;
	top:277px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.ei97_56_47_421 { 
	color:rgba(33.00000183284283, 150.0000062584877, 83.00000265240669, 1);
	width:25px;
	height:20px;
	position:absolute;
	left:20px;
	top:37px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.ei97_56_47_422 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:78px;
	height:24px;
	position:absolute;
	left:20px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}
.e97_50 { 
	color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.8700000047683716);
	width:319px;
	height:72px;
	position:absolute;
	left:801px;
	top:27px;
	font-family:Roboto;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e97_51 { 
	transform: rotate(-0.0000058973427614922115deg);
	width:565px;
	height:0px;
	position:absolute;
	left:120px;
	top:63px;
}
.e97_51 { 
	border:6px solid rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 1);
}
.e97_52 { 
	transform: rotate(-0.0000058973427614922115deg);
	width:565px;
	height:0px;
	position:absolute;
	left:1231px;
	top:63px;
}
.e97_52 { 
	border:6px solid rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 1);
}
.e97_110 { 
	width:1920px;
	height:601px;
	position:absolute;
	left:0px;
	top:3788px;
}
.e97_115 { 
	width:1920px;
	height:601px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_73 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.029999999329447746);
	width:1920px;
	height:601px;
	position:absolute;
	left:0px;
	top:0px;
}
.e97_76 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.38999998569488525);
	width:344px;
	height:380px;
	position:absolute;
	left:58px;
	top:136px;
}
.ei97_76_47_411 { 
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14000000059604645);
	background-color:rgba(255, 255, 255, 1);
	width:344px;
	height:380px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei97_76_47_456 { 
	width:344px;
	height:193.9790496826172px;
	position:absolute;
	left:5.6843418860808015e-14px;
	top:71.62303161621094px;
}
.ei97_76_47_465 { 
	width:364px;
	height:215px;
	position:absolute;
	left:-10px;
	top:-10px;
}
.ei97_76_47_459 { 
	width:344px;
	height:195px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(images/original_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei97_76_47_458 { 
	width:344px;
	height:193.9790496826172px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei97_76_47_418 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.10999999940395355);
	width:344px;
	height:380px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei97_76_47_437 { 
	width:24px;
	height:24px;
	position:absolute;
	left:312px;
	top:8px;
}
.ei97_76_47_438 { 
	background-color:rgba(33.00000183284283, 150.0000062584877, 83.00000265240669, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.ei97_76_47_439 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei97_76_47_440 { 
	width:14px;
	height:10.420000076293945px;
	position:absolute;
	left:3px;
	top:4.579999923706055px;
}
.ei97_76_47_420 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:308px;
	height:20px;
	position:absolute;
	left:16px;
	top:277px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.ei97_76_47_421 { 
	color:rgba(33.00000183284283, 150.0000062584877, 83.00000265240669, 1);
	width:25px;
	height:20px;
	position:absolute;
	left:20px;
	top:37px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.ei97_76_47_422 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:78px;
	height:24px;
	position:absolute;
	left:20px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}
.e97_70 { 
	color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.8700000047683716);
	width:319px;
	height:72px;
	position:absolute;
	left:801px;
	top:27px;
	font-family:Roboto;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e97_71 { 
	transform: rotate(-0.0000058973427614922115deg);
	width:565px;
	height:0px;
	position:absolute;
	left:117px;
	top:63px;
}
.e97_71 { 
	border:6px solid rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 1);
}
.e97_72 { 
	transform: rotate(-0.0000058973427614922115deg);
	width:565px;
	height:0px;
	position:absolute;
	left:1238px;
	top:63px;
}
.e97_72 { 
	border:6px solid rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 1);
}
.e97_109 { 
	width:1916px;
	height:841px;
	position:absolute;
	left:4px;
	top:4389px;
}
.e97_118 { 
	width:1676px;
	height:90px;
	position:absolute;
	left:100px;
	top:28px;
}
.e97_90 { 
	color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.8700000047683716);
	width:414px;
	height:90px;
	position:absolute;
	left:633px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e97_91 { 
	transform: rotate(-0.0000058973427614922115deg);
	width:565px;
	height:0px;
	position:absolute;
	left:0px;
	top:45px;
}
.e97_91 { 
	border:6px solid rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 1);
}
.e97_92 { 
	transform: rotate(-0.0000058973427614922115deg);
	width:565px;
	height:0px;
	position:absolute;
	left:1111px;
	top:45px;
}
.e97_92 { 
	border:6px solid rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 1);
}
.e97_114 { 
	background-color:rgba(255, 255, 255, 1);
	width:452px;
	height:530px;
	position:absolute;
	left:62px;
	top:84px;
}
.e97_95 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.38999998569488525);
	width:344px;
	height:380px;
	position:absolute;
	left:54px;
	top:75px;
}
.ei97_95_47_411 { 
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14000000059604645);
	background-color:rgba(255, 255, 255, 1);
	width:344px;
	height:380px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei97_95_47_456 { 
	width:344px;
	height:193.9790496826172px;
	position:absolute;
	left:5.6843418860808015e-14px;
	top:71.62303161621094px;
}
.ei97_95_47_465 { 
	width:364px;
	height:215px;
	position:absolute;
	left:-10px;
	top:-10px;
}
.ei97_95_47_459 { 
	width:344px;
	height:195px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(images/original_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei97_95_47_458 { 
	width:344px;
	height:193.9790496826172px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei97_95_47_418 { 
	background-color:rgba(39.11699719727039, 125.37500202655792, 25.074998885393143, 0.10999999940395355);
	width:344px;
	height:380px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.ei97_95_47_437 { 
	width:24px;
	height:24px;
	position:absolute;
	left:312px;
	top:8px;
}
.ei97_95_47_438 { 
	background-color:rgba(33.00000183284283, 150.0000062584877, 83.00000265240669, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:2px;
	top:2px;
}
.ei97_95_47_439 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei97_95_47_440 { 
	width:14px;
	height:10.420000076293945px;
	position:absolute;
	left:3px;
	top:4.579999923706055px;
}
.ei97_95_47_420 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:308px;
	height:20px;
	position:absolute;
	left:16px;
	top:277px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.ei97_95_47_421 { 
	color:rgba(33.00000183284283, 150.0000062584877, 83.00000265240669, 1);
	width:25px;
	height:20px;
	position:absolute;
	left:20px;
	top:37px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.ei97_95_47_422 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:78px;
	height:24px;
	position:absolute;
	left:20px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0.15000000596046448;
	line-height:px;
}
.e97_124 { 
	color:rgba(0, 0, 0, 1);
	width:435px;
	height:77px;
	position:absolute;
	left:66px;
	top:5466px;
	font-family:Sawarabi Gothic;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e97_125 { 
	color:rgba(0, 0, 0, 1);
	width:391px;
	height:80px;
	position:absolute;
	left:1170px;
	top:5466px;
	font-family:Sawarabi Gothic;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e97_126 { 
	color:rgba(0, 0, 0, 1);
	width:594px;
	height:626px;
	position:absolute;
	left:1192px;
	top:5569px;
	font-family:Sawarabi Gothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e97_128 { 
	width:237px;
	height:221px;
	position:absolute;
	left:52px;
	top:1127px;
	background-image:url(images/logo_qualit_t_s_dtirol_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e97_129 { 
	width:256px;
	height:137px;
	position:absolute;
	left:1551px;
	top:1169px;
	background-image:url(images/unnamed_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e97_131 { 
	width:521px;
	height:631px;
	position:absolute;
	left:1308px;
	top:1406px;
	background-image:url(images/gemu_se_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e97_132 { 
	color:rgba(0, 0, 0, 1);
	width:881px;
	height:531px;
	position:absolute;
	left:146px;
	top:1456px;
	font-family:Sawarabi Gothic;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e97_133 { 
	color:rgba(0, 0, 0, 1);
	width:589px;
	height:262px;
	position:absolute;
	left:95px;
	top:6424px;
	font-family:Sawarabi Gothic;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
